@model Bookshelf.WebUI.Models.Bookshelf.BookshelfAddViewModel;
<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Yeni kitaplık ekle</h4>
            <p class="card-description">
            </p>
            <form class="forms-sample" asp-controller="Bookshelf" asp-action="Add" >
                <div class="text-right">
                    <button type="submit" class="btn btn-danger btn-fw font-weight-bold text-white"><i class="fa fa-plus"></i> Ekle</button>
                    <a asp-controller="Bookshelf" asp-action="Index" class="btn btn-light">İptal</a>
                </div>
                <div class="form-group">
                    <label asp-for="Bookshelf.BookshelfName"></label>
                    <input type="text" class="form-control" asp-for="Bookshelf.BookshelfName">
                    <span class="text-danger" asp-validation-for="Bookshelf.BookshelfName"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bookshelf.BookshelfCategory" ></label>
                    <input type="text" class="form-control" asp-for="Bookshelf.BookshelfCategory">
                    <span class="text-danger" asp-validation-for="Bookshelf.BookshelfCategory"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Bookshelf.BookshelfExplain"></label>
                    <textarea class="form-control" asp-for="Bookshelf.BookshelfExplain" rows="4"></textarea>
                    <span class="text-danger" asp-validation-for="Bookshelf.BookshelfExplain"></span>
                </div>
                
                <div class="form-group">
                    <label asp-for="Bookshelf.AccessRoleID"></label>
                    <select asp-for="Bookshelf.AccessRoleID" class="form-control" asp-items="Model.AccessRoles"></select>
                    <span class="text-danger" asp-validation-for="Bookshelf.AccessRoleID"></span>
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-danger btn-fw font-weight-bold text-white"><i class="fa fa-plus"></i> Ekle</button>
                    <a asp-controller="Bookshelf" asp-action="Index" class="btn btn-light">İptal</a>
                </div>

            </form>
        </div>
    </div>
</div>