@model Bookshelf.WebUI.Models.User.UserRegisterViewModel;
<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from www.urbanui.com/melody/template/pages/samples/register-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:54 GMT -->
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.title</title>
    <meta name="description" content="@ViewBag.description" />
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/vendors/iconfonts/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="~/vendors/css/vendor.bundle.addons.css">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="~/css/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/images/favicon.png" />
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-stretch auth auth-img-bg">
                <div class="row flex-grow">
                    <div class="col-lg-6 d-flex align-items-center justify-content-center">
                        <div class="auth-form-transparent text-left p-3">
                            <div class="brand-logo">
                                <img src="~/images/logo.png" alt="logo">
                            </div>
                            <h4>Bize katılmak ister misin ?</h4>
                            <h6 class="font-weight-light">Sadece bir kaç adımda hemen üye ol !</h6>

                            <warning status="@Context.Request.Query["status"]" message="@Context.Request.Query["message"]" title="Uyarı"></warning>

                            <form class="pt-3" asp-controller="User" asp-action="Register" method="post">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-6">

                                            <label asp-for="User.UserName"></label>
                                            <div class="input-group">
                                                <div class="input-group-prepend bg-transparent">
                                                    <span class="input-group-text bg-transparent border-right-0">
                                                        <i class="fa fa-user text-primary"></i>
                                                    </span>
                                                </div>
                                                <input type="text" asp-for="User.UserName" class="form-control form-control-lg border-left-0" placeholder="">
                                                <span class="text-danger" asp-validation-for="User.UserName"></span>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label asp-for="User.UserSurname"></label>
                                            <div class="input-group">
                                                <input type="text" asp-for="User.UserSurname" class="form-control form-control-lg" placeholder="">
                                                <span class="text-danger" asp-validation-for="User.UserSurname"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label asp-for="User.UserNickname"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="fa fa-key text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="text" asp-for="User.UserNickname" class="form-control form-control-lg border-left-0" placeholder="">
                                    </div>
                                    <span class="text-danger" asp-validation-for="User.UserNickname"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="User.UserEmail"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="far fa-envelope-open text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="email" asp-for="User.UserEmail" class="form-control form-control-lg border-left-0" placeholder="Email">
                                    </div>
                                    <span class="text-danger" asp-validation-for="User.UserEmail"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="User.UserPassword"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="fa fa-lock text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="password" asp-for="User.UserPassword" class="form-control form-control-lg border-left-0" id="exampleInputPassword">
                                    </div>
                                    <span class="text-danger" asp-validation-for="User.UserPassword"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="User.UserPasswordControl"></label>
                                    <div class="input-group">
                                        <div class="input-group-prepend bg-transparent">
                                            <span class="input-group-text bg-transparent border-right-0">
                                                <i class="fa fa-lock text-primary"></i>
                                            </span>
                                        </div>
                                        <input type="password" asp-for="User.UserPasswordControl" class="form-control form-control-lg border-left-0" id="exampleInputPassword">
                                    </div>
                                    <span class="text-danger" asp-validation-for="User.UserPasswordControl"></span>
                                </div>
                                <div class="mb-4">
                                    <div class="form-check">
                                        <label class="form-check-label text-muted">
                                            <input type="checkbox" class="form-check-input">
                                            Sözleşmeyi okudum onaylıyorum
                                        </label>
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Kayıt ol</button>
                                </div>
                                <div class="text-center mt-4 font-weight-light">
                                    Zaten bir hesabım var ? <a href="/User/Login" class="text-primary">Giriş</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 register-half-bg d-flex flex-row">
                        <p class="text-white font-weight-medium text-center flex-grow align-self-end">Copyright &copy; 2021 woheap tüm hakları saklıdır.</p>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <script src="~/vendors/js/vendor.bundle.addons.js"></script>
    <!-- endinject -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <!-- endinject -->
</body>


<!-- Mirrored from www.urbanui.com/melody/template/pages/samples/register-2.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 15 Sep 2018 06:08:54 GMT -->
</html>
